input[type="text"]
input[type="password"]
input[type="email"]
button
  height 45px
  background-color #F2F2F2
  border none
  outline none
  border-radius 23px
  padding 0 20px
  margin-bottom 10px
  width 100%
  font-weight 600
  &.error
    border 2px solid red

button
  background-color $color-primary
  color white
  font-weight 700

textarea
  background-color #F2F2F2
  border none
  outline none
  border-radius 23px
  padding 20px
  margin-bottom 10px
  width 100%
  font-weight 600
  resize vertical
  height 200px